Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
PyMySQL==1.1.1
python-dotenv==1.0.0
Werkzeug==2.3.7
sqlalchemy==2.0.40
flask-cors==4.0.0
flask-jwt-extended==4.6.0
python-jose==3.3.0
bcrypt==4.1.2 
flask
flask_sqlalchemy
flask_jwt_extended
werkzeug
python-dotenv
